body{
  margin: 0;
  padding: 0;
  font-family:'Open Sans',Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.header{
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  display: flex;
}
.scoreBarConteiner{
  
  width: 100vw;
  height: 10vh;
  background-color: azure;
  display:flex;


}
.scoreBarConteiner__content{
  width: 60vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.scoreBar__element{
  display: flex;
  width: 90%;
  height: 10vh;
}
.scoreBar__button{
  width: 10%;
}
.ingameStats{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.ingameStats__lifes{

}
.ingameStats__questions{
  margin-left:2vw;
}
.dificultyBar__element{
  display:block;
  width: 30%;
  height: 100%;
  text-align: center;
}


.dificultyBar__element--active{
  border-bottom: 3px solid;
}
.dificultyBar{
  width: 20vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;

}
.startResetButton{
  background-color: #ffffff;
  padding: 2%;
  border:solid 2px #000000;
}

.tailsList{
  margin-left:50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vh;
  height: 50vh;
  align-items: space-between;
  justify-content: space-between;
  animation:tailListMove 0.5s ease;

}
.tailsList__element{
  list-style: none;
  width: 30%;
  height: 30%;
  border-radius:100%;
  animation:tailsAnim 0.5s ease;
}

@keyframes tailsAnim{
  from{transform:scale(0);
    }
  to{transform:scale(1)}
}


.scoreBar__heart{
  color:#ff0000;
  animation:beat 0.5s ease;
  font-size: 3vw;
  margin-right: 1vw;
}

.messageBar{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%);
  border:1px solid #000000;
  background-color: #ffffff;
  width: 20vh;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


@keyframes beat {
  0%{transform: scale(0.8)}
  100%{transform: scale(1)}
}

@keyframes tailListMove{
  0%{transform: translateX(-500%);}
  100%{transform: translateX(-50%);}
}